*{
        margin: 0%;
        font-family: Arial;
        border: border-box; 
}
body{
    background-color:rgb(24, 3, 51);//24,3,51
}
.box{
    border: 1px solid transparent;
}
.box:hover{
    border: 1px solid white;
}
.navigation{
    background-color: rgb(3, 6, 37);
    height: 50px;
    width: 100%;
    display: flex ;
}
.nav-data{
    display: flex;
    align-items: center;
    margin-left: 6rem;

}
.name{
    height: 2rem;
    width: 100%;
    color: white;
    font-size: 1.5rem;
    
}
.right{
    height: 3rem;
    width: 55rem;
    color: white;
    justify-content: center;
    display: flex;
}
.right ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.right ul li{
    list-style: none;
    margin: 25px;
}



.hero{
    display: flex;
    justify-content: space-around;
    margin: 23px 0px;
}
.first-sec{
    
    height: 30%;
    width: 50%;
    font-style:italic;
    color: white;
    font-size: 2.5rem;
    margin-top: 7rem;
    margin-left: 3rem;
    
}
.second-sec{
    
    height: 10%;
    width:45% ;
    object-fit: cover;
}
.image{
    height: 30%;
    width: 70%;
    margin-left: 7rem;
    margin-top: 3rem;
}
hr.new{
    border: 1px solid rgb(240, 237, 245);
    width: 90%;
    margin-left: 4rem;
    margin: auto;
    
}
.purple{
    color: rgb(189, 14, 189);
    height: 1rem;
    width: 100%;
}
.first-base{
    height: ;
}
h1{
    color:white;
    margin-left: 4rem;
    margin-top: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.info{
    color: grey;
    font-size: 1rem;
    margin-left: 4rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.icon{
    height: 20px;
    width: 85%;
    color: white;
    display: flex;
    margin-left: 8.3rem;
    margin-top: 3rem;
}
.icon-pic{
    height: 100px;
    width: 80%;
    
}
.base-line{
    border: 1px solid rgb(240, 237, 245);
    width: 80%;
    margin-left: 4rem;
    margin: auto;
    margin-top: 0.3rem;
}
.talent{
    width: 100%;
    display: flex;
    
}


.vertical-line{
    height: 90px;
    width: 1px;
    background-color: white;
    display: flex;
    margin: 0 100px;
    margin-left: 8.3rem;
}
.vertical-line p{
    color: white ;
    height: 90px;
    width: 100%;
}
.content{
    height: 40vh;
    width: 87%;
    display: flex;
    justify-content: space-evenly;
}
.data{
    height: 20px;
    width: 80%;
    margin-left:8.3rem ;
    color: white;
}
.detail{
    font-size: 1rem;
    height: 2px;
    width: 100%;
    font-style: italic;
}
.big{
    height: 20px;
    width: 100%;
    font-weight: 8px;
}
.download{
    height: 20vh;
    width: 100px;
    margin: auto;
}
.press{
    height: 40px;
    width:200px ;
    border-radius: 2rem;
    background-color: rgb(3, 6, 37);
    border: none;
    color: white;
 }
 .press:hover{
    height: 44px;
    width: 210px;
 }